@charset "UTF-8";
/*------------------------------
SOBREESCRIBIENDO LOS ESTILOS DE BOOTSTRAP
--------------------------------*/
.bg-primary {
  background-color: #005662 !important; }

.text-primary {
  color: #005662 !important; }

.btn-primary {
  background-color: #005662 !important;
  border-color: #00515b; }

.btn-primary:hover,
.btn-primary:focus {
  background-color: #007f8e !important; }

.btn-primary:active {
  background-color: #007f8e !important;
  border-color: #006875 !important; }

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 86, 98, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(0, 86, 98, 0.5) !important; }

.navbar-light .navbar-brand {
  color: #005662 !important; }

/*------------------------------
ESTILOS DEL DISEÑO
--------------------------------*/
html {
  font-size: 14px; }

body {
  color: #62757f;
  font-family: 'Raleway', sans-serif; }

.card:hover {
  -webkit-box-shadow: 0 0 10px #0c0c0c3b;
          box-shadow: 0 0 10px #0c0c0c3b; }

/*------------------------------
SHOW DE LOS MEDIAS QUERIES
-------------------------------*/
@media (min-width: 768px) {
  html {
    font-size: 16px; } }

/*# sourceMappingURL=style.custom.css.map */