//------------------------------
//        PATRON DE COLORES
//------------------------------

$texto1: #ffffff;
$texto2: #62757f;
$principal:#005662;
$secundario:#00acc1;
$terciario: #4fb3bf;


/*------------------------------
SOBREESCRIBIENDO LOS ESTILOS DE BOOTSTRAP
--------------------------------*/

.bg-primary {
    background-color: $principal !important;
}

.text-primary {
    color: $principal !important;
}

.btn-primary {
    background-color: $principal !important;
    border-color: darken($secundario, 20%) ;

}

.btn-primary:hover,
.btn-primary:focus {
    background-color: darken($secundario, 10%) !important;
}

.btn-primary:active {
    background-color: darken($secundario, 10%) !important;
    border-color: darken($secundario, 15%) !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba($principal, .5) !important;
}

.navbar-light .navbar-brand {
    color: $principal !important;
}


/*------------------------------
ESTILOS DEL DISEÑO
--------------------------------*/

html {
    font-size: 14px;
}

body{
    color: $texto2;
    font-family: 'Raleway', sans-serif;
}

.card:hover{
    box-shadow: 0 0 10px #0c0c0c3b;
}



/*------------------------------
SHOW DE LOS MEDIAS QUERIES
-------------------------------*/

@media (min-width: 768px){
    html{
        font-size: 16px;
    }
}